body {
    background-color: #fbf7ef;
    margin: 0;
    padding: 0;
}

#main-header {
   background-color: #124a52;
   width: 100%;
   height: 100px;
   padding: 10px 15px;
   margin-top: 0px;
   text-align: Left
   }

nav {
    position:fixed;
    left: 10px;
    width: 100%;
    background-color: transparent;
    font-size: 28px;
    z-index: 500;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #124a52;
}

nav a:hover {
    color: #124a52;
}

.header-inner,
.nav-inner {
    max-width: 1100px;
    margin: 0px;
    width: 100%;
}

nav {
    position: fixed;
    left: 15px;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    padding: 10px 0;
}

.nav-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

main {
    background-color: #330d43;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #54869B;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 36px;
    font-family: Garamond, serif;
}

h3 {
    color: white;
    margin-top: 5px;
    font-family: Garamond, serif;
    width: 100%;
}

p {
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 100px;
    color: #0d3c49;
    font-family: "Georgia", serif;
    line-height: 1.6;
}

.hobbies {
    color: #54869B;
    margin-left: 10px;
    margin-bottom: 0px;
}

ul {
    margin-top: 5px;
}

.gallery {
    color: #54869B;
    margin-left: 10px;
}

.contact {
    color: #54869B;
    margin-bottom: 5px;
    margin-left: 10px;
}
.email {
    margin-top: 5px;
    margin-bottom: 5px;
}
.github {
    margin-top: 5px;
}

