body {
    background-color: #fbf7ef;
    margin: 0;
    padding: 0;
}

#main-header {
   background-color: #124a52;
   width: 100%;
   height: 100px;
   padding: 10px 15px;
   margin-top: 0px;
   text-align: Left
   }

main {
    background-color: #330d43;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #54869B;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 36px;
    font-family: Garamond, serif;
}

h3 {
    color: white;
    margin-top: 5px;
    font-family: Garamond, serif;
    width: 100%;
}

p {
    margin-left: 10px;
    margin-bottom: 0;
    color: #0d3c49;
    font-family: "Georgia", serif;
    line-height: 1.6;
}

.hobbies {
    color: #54869B;
    margin-left: 10px;
    margin-bottom: 0px;
}

ul {
    margin-top: 5px;
}

.gallery {
    color: #54869B;
    margin-left: 10px;
}

.contact {
    color: #54869B;
    margin-bottom: 5px;
    margin-left: 10px;
}
.email {
    margin-top: 5px;
    margin-bottom: 5px;
}
.github {
    margin-top: 5px;
}

