body {
    background-color: #fbf7ef;
    margin: 0;
    padding: 0;
}

#main-header {
   background-color: #124a52;
   width: 100%;
   height: 120px;
   padding: 5px 10px;
   margin-top: 0px;
   text-align: Left
   }

main {
    background-color: #330d43;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #54869B;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 28px;
    font-family: Verdana, Geneva, sans-serif;
}

h3 {
    color: white;
    margin-top: 5px;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
}

p {
    margin-left: 10px;
    margin-bottom: 5px;
    color: #0d3c49;
    font-family: "Georgia", serif;
    line-height: 1.5;
}

.hobbies {
    color: #54869B;
    font-family: "Georgia", serif;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
}
ul {
    margin-top: 5px;
    padding-bottom: 10px
}

.contact {
    color: #54869B;
    font-family: "Georgia", serif;
    margin-bottom: 0px;
    margin-left: 10px;
}

.github {
    margin-top: 2px;
}

