body {
    background-color: #EDE8DA;
    margin: 28px;
    padding: 0;
}
main{
    background-color: #547792;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #54869B;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #4A7E96;
    font-family: "Georgia", serif;
    line-height: 1.6;
}

div {
    width: 72px; /* You can adjust the width as needed */
    height: 28px; /* You can adjust the height as needed */
    background-color: #8CB5C6;
    border: 3px dotted black;
    padding: 10px;
    margin: 12px;
}